/* Estilo para tabs inactivos */
.nav-tabs .nav-link {
    background-color: #F3F3F9;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Estilo para el tab activo */
.nav-tabs .nav-link.active {
    background-color: #ffffff; 
    font-weight: bold;
}
